* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	/*background-image: url('bg2.jpg');*/
	background: #211e1e;
	/*
 background-position:center top;
 -moz-background-size: cover;
 -webkit-background-size: cover;
 -o-background-size: cover;
 background-size: cover; 
  */
	background-attachment: fixed;
	padding: 0;
	margin: 0;
}

input[type="button"], input[type="text"], input[type="password"] {
	outline: none;
}

input[type="button"]::-moz-focus-inner {
	border: 0;
}

textarea {
	resize: none
}

.container {
	width: 1283px;
	margin: 0 auto;
	min-height: 600px;
}

.container:after {
	content: " ";
	display: block;
	clear: both;
}

.sign_top {
	/*width: 60%;*/
	position: relative;
	margin-top: 9px;
	text-align: right;
}

.after_login {
	color: #bbbbbb;
	font: bold 12px/29px Tahoma, Malgun Gothic, Dotum, sans-serif;
	text-align: right;
	margin: 9px 0 0 0;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .5);
}

.after_login span.gray {
	color: #bbb;
}

.div_buttons {
	position: relative;
	font-size: 0;
	margin: 30px 0 15px 0;
}

.headerCont {
	position: relative;
}

.logo {
	width: 235px;
	height: 101px;
	cursor: pointer;
	position: absolute;
	left: -8px;
	top: -63px;
}

.logo:hover {
	-webkit-filter: brightness(120%); /* Safari 6.0 - 9.0 */
	filter: brightness(120%);
}

.buttons {
	display: inline-block;
	margin: 0 0 0 239px;
	width: 460px;
}

.sports-menu, .live-menu, .ko-menu, .results-menu, .stocks-menu,
	.casino-menu, .games-menu {
	font-size: 20px;
	display: inline-block;
	cursor: pointer;
	color: #fff;
	margin: 0 30px 0 0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-style: italic;
		-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-kthtml-transition: all .5s linear;
	transition: all .5s linear;
}

.games-menu {
	margin: 0
}

.sports-menu:hover, .sports-menu.menu-active, .live-menu:hover,
	.live-menu.menu-active, .ko-menu:hover, .ko-menu.menu-active,
	.results-menu:hover, .results-menu.menu-active, .stocks-menu:hover,
	.stocks-menu.menu-active, .casino-menu:hover, .casino-menu.menu-active,
	.games-menu:hover, .games-menu.menu-active {
	color: #fcb040;
			-webkit-transition: all .1s linear;
	-o-transition: all .1s linear;
	-moz-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-kthtml-transition: all .1s linear;
	transition: all .1s linear;
}
/*
.sports-menu {background: url('../img/icons/mBtn1.png') }
 .live-menu {background: url('../img/icons/mBtn2.png')}
 .ko-menu {background: url('../img/icons/mBtn3.png')}
 .results-menu {background: url('../img/icons/mBtn4.png') }
 .stocks-menu {background: url('../img/icons/mBtn5.png') }
 .casino-menu {background: url('../img/icons/mBtn6.png') }
 .games-menu {background: url('../img/icons/mBtn7.png') }
 
.sports-menu:hover, .sports-menu.menu-active,
.live-menu:hover, .live-menu.menu-active ,
.ko-menu:hover, .ko-menu.menu-active,
.results-menu:hover, .results-menu.menu-active ,
.stocks-menu:hover, .stocks-menu.menu-active, 
.casino-menu:hover, .casino-menu.menu-active  
{background-position:0 bottom}

.en .sports-menu {background: url('../img/icons/mBtn1.png') }
.en .live-menu {background: url('../img/icons/mBtn2.png') }
.en .ko-menu {background: url('../img/icons/mBtn3.png') }
.en .results-menu {background: url('../img/icons/mBtn4.png')}
.en .stocks-menu {background: url('../img/icons/mBtn5.png') }
.en .casino-menu {background: url('../img/icons/mBtn6.png') }
.en .games-menu {background: url('../img/icons/mBtn7.png') }
 
.en .sports-menu:hover, .en .sports-menu.menu-active,
.en .live-menu:hover, .en .live-menu.menu-active,
.en .ko-menu:hover, .en .ko-menu.menu-active,
.en .results-menu:hover, .en .results-menu.menu-active,
.en .stocks-menu:hover, .en .stocks-menu.menu-active,
.en .casino-menu:hover, .en .casino-menu.menu-active,
.en .games-menu:hover, .en .games-menu.menu-active
 {background-position:0 bottom}


.ko .sports-menu {background: url('../img/icons/mBtn1.png'); }
.ko .live-menu {background: url('../img/icons/mBtn2.png')}
.ko .ko-menu {background: url('../img/icons/mBtn3.png') }
.ko .results-menu {background: url('../img/icons/mBtn4.png') }
.ko .stocks-menu {background: url('../img/icons/mBtn5.png') }
.ko .casino-menu {background: url('../img/icons/mBtn6.png') }
.ko .games-menu {background: url('../img/icons/mBtn7.png') }
 
.ko .sports-menu:hover, .ko .sports-menu.menu-active,
.ko .live-menu:hover, .ko .live-menu.menu-active, 
.ko .ko-menu:hover, .ko .ko-menu.menu-active,
.ko .results-menu:hover, .ko .results-menu.menu-active,
.ko .stocks-menu:hover, .ko .stocks-menu.menu-active ,
.ko .casino-menu:hover, .ko .casino-menu.menu-active,
.ko .games-menu:hover, .ko .games-menu.menu-active  
{background-position:0 bottom}

.jp .sports-menu {background: url('../img/icons/mBtn1.png')}
.jp .live-menu {background: url('../img/icons/mBtn2.png') }
.jp .ko-menu {background: url('../img/icons/mBtn3.png') }
.jp .results-menu {background: url('../img/icons/mBtn4.png') }
.jp .stocks-menu {background: url('../img/icons/mBtn5.png') }
.jp .casino-menu {background: url('../img/icons/mBtn6.png') }
.jp .games-menu {background: url('../img/icons/mBtn7.png') }
 
.jp .sports-menu:hover, .jp .sports-menu.menu-active,
.jp .live-menu:hover, .jp .live-menu.menu-active,
.jp .ko-menu:hover, .jp .ko-menu.menu-active,
.jp .results-menu:hover, .jp .results-menu.menu-active ,
.jp .stocks-menu:hover, .jp .stocks-menu.menu-active ,
.jp .casino-menu:hover, .jp .casino-menu.menu-active,
.jp .games-menu:hover, .jp .games-menu.menu-active  
{background-position:0 bottom}

.ch .sports-menu {background: url('../img/icons/mBtn1.png'); }
.ch .live-menu {background: url('../img/icons/mBtn2.png');	}
.ch .ko-menu {background: url('../img/icons/mBtn3.png');	}
.ch .results-menu {background: url('../img/icons/mBtn4.png') ;}
.ch .stocks-menu {background: url('../img/icons/mBtn5.png');	}
.ch .casino-menu {background: url('../img/icons/mBtn6.png') ;}
.ch .games-menu {background: url('../img/icons/mBtn7.png') ;}
 
.ch .sports-menu:hover, .ch .sports-menu.menu-active ,
.ch .live-menu:hover, .ch .live-menu.menu-active, 
.ch .ko-menu:hover, .ch .ko-menu.menu-active ,
.ch .results-menu:hover, .ch .results-menu.menu-active ,
.ch .stocks-menu:hover, .ch .stocks-menu.menu-active ,
.ch .casino-menu:hover, .ch .casino-menu.menu-active,
.ch .games-menu:hover, .ch .games-menu.menu-active 
{background-position: 0 bottom}
*/
.div_date_time {
	display: inline-block;
	width: 584px; /* 1282 - 460 -235 */
	text-align: right;
	position: relative;
}

.srchbox {
	color: #fff;
	/*position:absolute;
	top:16px;
	right:650px;*/
	font: 100 12px/22px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	margin: 0;
	padding: 0 !important;
}

.srchbox select {
	width: 102px;
	height: 22px;
	border: 1px solid #afafaf;
	-moz-border-radiu: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font-size: 11px;
	background: #2c2c2d url('../img/icons/scrch_dnarr.png') right no-repeat;
	-webkit-appearance: none; /*Removes default chrome and safari style*/
	-moz-appearance: none; /*Removes default style Firefox*/
}

.srchbox select::-ms-expand {
	display: none;
}

.srchbox .pickdate {
	width: 107px;
	height: 22px;
	border: 1px solid #afafaf;
	-moz-border-radiu: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #2c2c2d url('../img/icons/btn_date.png') right no-repeat;
	padding: 0 20px 0 3px;
	color: #fff;
	font-size: 11px;
}

.srchbox .srchteam {
	width: 103px;
	height: 23px;
	border: 1px solid #afafaf;
	-moz-border-radiu: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	font: 100 11px/12px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	text-align: center;
	background: #2c2c2d;
}

.srchbox .btnSrch {
	background: url('../img/icons/btn_srch.png') no-repeat;
	cursor: pointer;
	border: none;
	width: 29px;
	height: 23px;
	vertical-align: bottom;
}

.pointBox {
	color: #fff;
	text-align: center;
	position: relative;
	padding: 10px 0 10px 0;
	font: 100 12px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
}

.pointBox .pickdate {
	width: 87px;
	height: 16px;
	border: 1px solid #afafaf;
	-moz-border-radiu: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #2c2c2d url('../img/icons/btn_date.png') right no-repeat;
	padding: 0 20px 0 3px;
	color: #fff;
	font-size: 10px;
	vertical-align: middle;
}

.pointBox .btnSrch {
	background: url('../img/icons/btn_srch.png') no-repeat;
	cursor: pointer;
	border: none;
	width: 20px;
	height: 16px;
	background-size: 20px 16px;
	vertical-align: middle;
}
.P-topBar img {
	cursor: pointer;
}

.result-topBar img {
	cursor: pointer;
}

.result-date {
	vertical-align: middle;
}

.result-date .pickdate {
	width: 87px;
	height: 16px;
	border: 1px solid #afafaf;
	-moz-border-radiu: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background: #2c2c2d url('../img/icons/btn_date.png') right no-repeat;
	padding: 0 20px 0 3px;
	color: #fff;
	font-size: 10px;
	vertical-align: middle;
}

.result-date .btnSrch {
	background: url('../img/icons/btn_srch.png') no-repeat;
	cursor: pointer;
	border: none;
	width: 20px;
	height: 16px;
	background-size: 20px 16px;
	vertical-align: middle;
}

.content {
	width: 1283px;
	height: auto;
	border: solid 1px #b4b3b3;
	-moz-border-radiu: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 6px 7px 6px 6px;
	/* position: relative;
    top: 0px;
    min-height: 830px;*/
}

.content:after {
	content: " ";
	display: block;
	clear: both;
}

.side_left {
	float: left;
	width: 222px;
}

.side_menu {
	width: 222px;
}

.div_sidemenu {
	position: relative;
	left: -40px;
	top: -20px;
	z-index: 1;
}

.contact {
	position: relative;
	margin: 2px 0 0 0;
	
}

.contactTitle {
	text-align:center;
	background:#565656;
	color:#fff;
	font: bold 16px "Open Sans",Malgun Gothic,sans-serif;
	padding:3px 0;
}

.contact .item{
	background: #848383;
	font-size:12px;
	padding:2px 0 2px 4px;
}.contact .item img {
	vertical-align: -3px;
}

.myProfile {
	margin: 0 0 0 6px;
}

.banner {
	width: 744px;
	height: 340px;
	border: solid 0px #fff;
	position: absolute;
	left: 226px;
	top: -14px;
}

.promo {
	width: 744px;
	height: auto;
	border: solid 0px #fff;
	position: absolute;
	left: 0px;
	top: 369px;
}

.index_livebet {
	width: 735px;
	/*height: 530px;*/
	margin: 0 0 0 6px;
}

.top_livebet {
	height: 29px;
	margin: 2px 0 0 0;
	position: relative;
}

.livebet_content {
	min-height: 300px;/*674px;*/
	background: #848383;
	border: solid 2px #565656;
	padding: 0 0 8px 0;
}

.tab-on {
	background-image: url('/home_tab_on.png');
	float: left;
	width: 110px;
	height: 40px;
	color: #2a2a2a;
	font: bold 12px/40px Tahoma, sans-serif;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
}

.tab-on+.tab-end {
	float: left;
	width: 19px;
	height: 40px;
	background-image: url('../img/icons/home_tab_on_r.png');
}

.tab-off {
	background-image: url('../img/icons/home_tab_off.png');
	float: left;
	width: 110px;
	height: 40px;
	color: #2a2a2a;
	font: bold 12px/40px Tahoma, sans-serif;
	text-align: center;
	cursor: pointer;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .5);
}

.more {
	padding: 15px 24px 0 0;
	float: right;
	height: 40px;
	font: bold 14px/40px Tahoma, sans-serif;
	text-decoration: underline;
	cursor: pointer;
	color: #474747;
}

.tab-off+.tab-end {
	float: left;
	width: 19px;
	height: 41px;
	background-image: url('../img/icons/home_tab_off_r_1.png');
}

.tab-off:nth-last-child(2)+.tab-end {
	width: 28px;
	background-image: url('../img/icons/home_tab_off_r_2.png');
}

.tab-on:nth-last-child(2)+.tab-end {
	width: 28px;
	background-image: url('../img/icons/home_tab_on_r_2.png');
}

.tab-end.tab-end-on {
	background-image: url('../img/icons/home_tab_off_r_3.png');
}

.livebet_data {
	width: 271px;
	height: 23px;
	border-bottom: solid 1px #2e6bc4;
	background-color: #15549c;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#15549c),
		to(#062E5A));
	background-image: -webkit-linear-gradient(top, #15549c, #062E5A);
	background-image: -moz-linear-gradient(top, #15549c, #062E5A);
	background-image: -ms-linear-gradient(top, #15549c, #062E5A);
	background-image: -o-linear-gradient(top, #15549c, #062E5A);
	background-image: linear-gradient(to bottom, #15549c, #062E5A);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#15549c, endColorstr=#062E5A);
}

.livebet_data:hover {
	background-color: #2587F4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2587F4),
		to(#165caa));
	background-image: -webkit-linear-gradient(top, #2587F4, #165caa);
	background-image: -moz-linear-gradient(top, #2587F4, #165caa);
	background-image: -ms-linear-gradient(top, #2587F4, #165caa);
	background-image: -o-linear-gradient(top, #2587F4, #165caa);
	background-image: linear-gradient(to bottom, #2587F4, #165caa);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#2587F4, endColorstr=#165caa);
	border-bottom: solid 1px #2e6bc4;
}

.right_side_menu {
	width: 299px;
	float: right;
	position: relative;
}

.right_side_menu:after {
	content: " ";
	display: block;
	clear: both;
}

.banner_r_cont {
	margin: 3px 0 0 0;
}
.banner_r_cont img.btn_banner{
	width:299px;
	cursor:pointer;
	margin: 0 0 4px 0;
	}
	.banner_r_cont img.btn_banner:hover{
	filter:brightness(130%);
	}
.banner_r_cont>div>img {
	margin: 1px 0 0 0;
}

.betSlipCont {
	position: relative;
}

.loading_overlay {
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 200;
}

.main_loading_overlay {
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 200;
}

.cart_loading_overlay {
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 10;
	margin-top: -8px;
	margin-left: -8px;
}

.cartView_overlay {
	background: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
	font: bold 12px/81px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	color: #F00;
	margin-top: -8px;
	margin-left: -8px;
	text-align: center;
}

.header_loading_overlay {
	background: rgba(0, 0, 0, 0.3);
	width: 70%;
	height: 100%;
	position: absolute;
	z-index: 200;
}

.ajax-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -15px; /* -1 * image width / 2 */
	margin-top: -15px; /* -1 * image height / 2 */
	display: block;
}

.top_betslip {
	width: 298px;
	height: 31px;
	background-image: url('../img/icons/top_betslip.png');
}

.en .top_betslip {
	background-image: url('../img/icons/top_betslip.png');
}

.ko .top_betslip {
	background-image: url('../img/icons/top_betslip.png');
}

.jp .top_betslip {
	background-image: url('../img/icons/top_betslip.png');
}

.ch .top_betslip {
	background-image: url('../img/icons/top_betslip.png');
}

.payment {
	width: 1283px;
	height: 65px;
	margin: 20px auto;
	background-image: url('../img/icons/payment.png');

	/*
    background-color: #021D45; background-image: -webkit-gradient(linear, left top, left bottom, from(#021D45), to(#003785));
    background-image: -webkit-linear-gradient(top, #021D45, #003785);
    background-image: -moz-linear-gradient(top, #021D45, #003785);
    background-image: -ms-linear-gradient(top, #021D45, #003785);
    background-image: -o-linear-gradient(top, #021D45, #003785);
    background-image: linear-gradient(to bottom, #021D45, #003785);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#021D45, endColorstr=#003785);
	*/
}

.en .payment {
	background-image: url('../img/icons/payment.png');
}

.ko .payment {
	background-image: url('../img/icons/payment.png');
}

.jp .payment {
	background-image: url('../img/icons/payment.png');
}

.ch .payment {
	background-image: url('../img/icons/payment.png');
}

.footerCont {
	
}

.footer {
	width: 1288px;
	height: 190px;
	margin: 0px auto;
	position:relative;
}
 .footer.ko {
	background: url('../img/icons/footbg.png') no-repeat;
}
 .footer.ch {
	background: url('../img/icons/footbg.png') no-repeat;
} .footer.en {
	background: url('../img/icons/footbg.png') no-repeat;
} .footer.jp {
	background: url('../img/icons/footbg.png') no-repeat;
}
.link1,.link2,.link3 {position:absolute;opacity: 0; cursor:pointer} 
.link1 {
	width: 160px;
	height: 28px;
	top: 50px;
	left: 100px;
}

.link2 {
	width: 92px;
	height: 28px;
	top: 107px;
	left: 232px;
}
.link3 {
	width: 134px;
	height: 21px;
	top: 145px;
	left: 153px;
}

.link1:hover, .link2:hover, .link3:hover, .link4:hover, .link5:hover,
	.link6:hover, .link7:hover, .link8:hover, .link9:hover, .link10:hover,
	.link11:hover {
	opacity: 1;
}

/*  for tabs */
#right-tab {
	margin-top: 5px;
	margin: 0px;
	padding: 0px;
}

.scrslip, .scrcont {
	position: relative;
}

#tab1, #tab2, #tab3 {
	padding: 8px;
	/*margin-top: -3px;
				width:294px;*/
	background: #bebdbd;
}

.tabs {
	margin: 0px;
	padding: 0;
	font-size:0;
}

.tabs li {
	padding: 0px;
	margin: 0px;
	list-style: none;
	display: inline;
	font-size:14px;
	font-weight: bold;
}

.tabs a {
	margin: 0px;
	padding: 5px 10px;
	display: inline-block;
	background: #666666;
	color: #bbbbbb;
	font-family: Gulim, san-serif;
	text-decoration: none;
	border: 1px solid #a7a7a7;
}

.tabs a.active {
	background-color: #333333;
	color: #bbbbbb;
	
}

#tab1 .glossymenu {
	margin: 5px 0;
	padding: 0;
	width: 220px; /*width of menu*/
	border-bottom-width: 0;
}

#tab1  a.menuitem {
	background: -webkit-linear-gradient(#00347c, #001534); /* For Safari */
	background: -o-linear-gradient(#00347c, #001534);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#00347c, #001534);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#00347c, #001534);
	/* Standard syntax (must be last) */
	font: bold 12px "Calibri";
	font-size: 16px;
	color: #fff;
	display: block;
	position: relative;
	/*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
	height: 50px;
	padding: 4px 0;
	padding-left: 10px;
	text-decoration: none;
}

.val {
	color: #595858;
	font: bold 12px Helvetica, Tahoma, Geneva, Malgun Gothic, Dotum,
		sans-serif;
	padding: 0 7px 0 0;
}

#tab1 div.submenu ul, #tab2 div.submenu ul, #tab3 div.submenu ul {
	/*UL of each sub menu*/
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-top: 3px;
}

div.submenu ul li a {
	border-bottom: solid #dbdbdb 1px;
}

#tab1 div.submenu ul li a, #tab2 div.submenu ul li a, #tab3 div.submenu ul li a
	{
	display: block;
	height: 25px;
	font: normal 12px "Arial";
	color: #595858;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, .6);
}

.ClearAll {
	font-family: Gulim, san-serif;
	font-size: 12px;
	font-weight: bold;
	color: #bbbbbb;
	background:#666666;
	padding:4px;
	cursor: pointer;
	border:solid 1px #666;
}

.ClearAll:hover {
	background: #777;
	color: #fff;
}

.PlaceBets {
	align: right;
	font-family: Gulim, san-serif;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	float: right;
	color: #bbbbbb;
	background:#666666;
	padding:4px;
	cursor: pointer;
	border:solid 1px #666;
}

.PlaceBets:hover {
	background: #777;
	color: #fff;
}
/*  end of tabs */
.sportsbook {
	width: 296px;
	height: auto;
	border: solid 0px #fff;
	position: relative;
	top: 1px;
	left: 1px;
	z-index: 1;
}

.top_sportsbook {
	width: 296px;
	height: 30px;
	background-image: url('../img/icons/top_sportsbook.png');
	border: 0;
}

.box {
	width: 188px;
	height: 61px;
	background-color: #741530;
	border: solid 1px #901b3f;
	margin-top: -2px;
	color: #fff;
}

.box:hover {
	background-color: #b5204a;
	cursor: pointer;
	border: solid 1px #83163a;
}

.box a {
	color: #fff;
}

.div_sports_center {
	width: 744px;
	height: auto;
	border: solid 1px #fff;
}

/*css for sports betting*/
.sports_betting {
	width: 744px;
	height: auto;
	border: solid 0px #fff;
	position: relative;
	left: 226px;
	top: -974px;
	background-color: #1d509c;
}

.top_sports {
	width: 744px;
	height: 31px;
	background-image: url('../img/icons/top_todaysevent.png');
}

.live_stream {
	position: relative;
	top: 1px;
	width: 300px;
	height: 280px;
	background-image: url('../img/icons/live_stream.png');
	background-repeat: no-repeat;
	z-index: 1;
}

/****************************************FOR LEFT SIDE NUMBERS****************************************/
.soccer_blue {
	width: 25px;
	height: 19px;
	background-image: url('../img/icons/blue.png');
	cursor: pointer;
	margin-top: -24px;
	text-align: center;
	line-height: 19px;
	font-size: 12px;
}

.soccer_blue:hover {
	background-image: url('../img/icons/blue_hov.png');
}

.soccer_red {
	width: 25px;
	height: 19px;
	background-image: url('../img/icons/red.png');
	cursor: pointer;
	margin-top: -24px;
	z-index: 99999;
	text-align: center;
	line-height: 19px;
	font-size: 12px;
}

.soccer_red:hover {
	background-image: url('../img/icons/red_hov.png');
}

.home_highlights {
	height: 236px;
	background-color: #000;
	margin: 0 0 6px 0;
	position:relative;
	width:735px;
	overflow:hidden;
}
.home_highlights .dark {
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.75) 100%);
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 60%,rgba(0,0,0,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a3000000',GradientType=0 );
	width:735px;height: 236px;position:absolute;top:0;left:0;
}
#btnHighlightsLeft {position:absolute; top:99px; left:26px; cursor:pointer; opacity: .55;}
#btnHighlightsRight {position:absolute; top:99px; right:26px; cursor:pointer;opacity: .55;}
#btnHighlightsLeft:hover, #btnHighlightsRight:hover {opacity: 1;}
.home_highlights .nav {
	position:absolute; top:10px; right:10px;
	font-size:0;
}
.home_highlights .nav li {
	display:inline-block;
	border-radius:10px;
	webkit-border-radius:10px;
	width:12px;
	height:12px;
	background:rgba(255,255,255,0.6);
	cursor:pointer;
	margin:0 0 0 16px;
}.home_highlights .nav li.cur {
	background:rgba(255,255,255,1);
}
.home_highlights .betCont{
	position:absolute; top:175px; left:38px;
}.home_highlights .betCont .title{
	color:#fff;
	font: bold 13px Malgun Gothic, Dotum, sans-serif;
	padding:0 0 0 10px
}
.h_thumb {
	width: 122px;
	height: 59px;
	position: relative;
	cursor: pointer;
}

.h_thumb img {
	width: 122px;
	height: 59px;
	border: 0;
}

.h_thumb .overlay {
	width: 122px;
	height: 59px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('../img/icons/h_overlay.png') no-repeat;
}

.h_thumb.active .overlay {
	background: url('../img/icons/h_overlay_active.png') no-repeat;
}

.h_thumb_wrap {
	width: 122px;
	float: left;
}

.h_main {
	float: left;
	width: 613px;
	height: 236px;
	position: relative;
}

.h_main_odds_cont {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: rgba(255, 255, 255, 0.62);
	width: 100%;
	height: 59px;
	padding: 4px;
}

.h_main_odds_overlay {
	width: 613px;
	height: 59px;
	position: absolute;
	background: url('../img/icons/mainbanner_hover.png') no-repeat;
	z-index: 2;
	top: 0px;
	left: 0px;
	display: none;
	pointer-events: none;
}

.h_main_odds_cont:hover .h_main_odds_overlay {
	display: block;
}

.h_main_odds_cont .col {
	float: left;
	vertical-align: top;
	margin: 0;
}

.h_main_odds_cont .imgCont {
	background: #606060;
	width: 86px;
	height: 51px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.h_main_odds_cont .imgCont td {
	background: url('../img/icons/icoMainMatchBack.png') no-repeat;
}

.h_main_odds_cont .imgCont table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 86px;
	height: 51px;
	padding: 0;
	text-align: center;
}

.h_main_odds_cont .imgCont table img {
	max-width: 86px;
	max-height: 51px;
}

.h_main_odds_cont .timeCont {
	background: #353535;
	color: #fff;
	margin: 0 2px 0 0;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	width: 157px;
	height: 51px;
	position: relative;
}

.h_main_odds_cont .timeCont div {
	position: absolute;
}

.h_main_odds_cont .timeCont .date {
	font: bold 10px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	left: 6px;
	top: 4px;
}

.h_main_odds_cont .timeCont .day {
	font: bold 24px "Trebuchet MS", "Arial Narrow", Tahoma, Geneva, Malgun
		Gothic, Dotum, sans-serif;
	text-align: center;
	top: 16px;
	width: 152px;
}

.h_main_odds_cont .timeCont .time {
	font: bold 10px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	text-align: right;
	right: 6px;
	top: 4px;
}

.h_main_odds_cont .oddsCont {
	background: #353535;
	color: #fff;
	-moz-border-radiu: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	padding: 0 6px;
	width: 360px;
	height: 51px;
}

.h_main_odds_cont .oddsCont .vs {
	width: 112px;
	height: 26px;
	background: url('../img/icons/mainbanner_vs.png') no-repeat;
	background-position: center;
}

.h_main_odds_cont .oddsCont .team {
	width: 118px;
	height: 26px;
	white-space: nowrap;
	overflow: hidden;
	font: bold 11px/26px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	text-align: center;
}

.mBannerOddsBtn {
	float: left;
	height: 18px;
	border: 1px solid #989797;
	background: #e8e8e8; /* Old browsers */
	background: -moz-linear-gradient(top, #e8e8e8 0%, #cbcbcb 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e8e8e8),
		color-stop(100%, #cbcbcb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e8e8e8 0%, #cbcbcb 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e8e8e8 0%, #cbcbcb 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e8e8e8 0%, #cbcbcb 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #e8e8e8 0%, #cbcbcb 100%);
	/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8',
		endColorstr='#cbcbcb', GradientType=0); /* IE6-9 */
	font: normal 11px/16px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	color: #2e2e2e;
	cursor: pointer;
	padding: 0 3px;
	position: relative;
}

.mBannerOddsBtn:hover {
	border: 1px solid #031330;
	background: rgb(255, 255, 255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(223, 236, 255, 1) 45%, rgba(205, 225, 255, 1) 54%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,
		255, 255, 1)), color-stop(45%, rgba(223, 236, 255, 1)),
		color-stop(54%, rgba(205, 225, 255, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(223, 236, 255, 1) 45%, rgba(205, 225, 255, 1) 54%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(223, 236, 255, 1) 45%, rgba(205, 225, 255, 1) 54%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%,
		rgba(223, 236, 255, 1) 45%, rgba(205, 225, 255, 1) 54%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,
		rgba(223, 236, 255, 1) 45%, rgba(205, 225, 255, 1) 54%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff',
		endColorstr='#cde1ff', GradientType=0); /* IE6-9 */
}

.mBannerOddsBtn.slt {
	background: #23a4dd;
	background: -moz-linear-gradient(top, #23a4dd 0%, #124d63 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23a4dd),
		color-stop(100%, #124d63));
	background: -webkit-linear-gradient(top, #23a4dd 0%, #124d63 100%);
	background: -o-linear-gradient(top, #23a4dd 0%, #124d63 100%);
	background: -ms-linear-gradient(top, #23a4dd 0%, #124d63 100%);
	background: linear-gradient(to bottom, #23a4dd 0%, #124d63 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#23a4dd',
		endColorstr='#124d63', GradientType=0);
	color: #fff;
	border-bottom: 1px solid #8accf9;
	border-top: 1px solid #147bc0;
	border-left: 1px solid #7ebae3;
	border-right: 1px solid #7ebae3;
}

.mBannerOddsBtn.col3 {
	width: 116px;
}

.mBannerOddsBtn.col2 {
	width: 170px;
}

.mBannerOddsBtn.col2:nth-child(2) {
	margin: 0 0 0 8px;
}

.mBannerOddsBtn.col3:nth-child(2) {
	width: 108px;
	margin: 0 4px;
}

.mBannerOddsBtn.col3 span:nth-child(1) {
	display: block;
	width: 50%;
	white-space: nowrap;
	overflow: hidden;
	o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	float: left;
}

.mBannerOddsBtn.col2 span:nth-child(1) {
	display: block;
	width: 70%;
	white-space: nowrap;
	overflow: hidden;
	o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	float: left;
}

.mBannerOddsBtn span:nth-child(2) {
	color: #0089d2;
	font: normal 11px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	position: absolute;
	top: 1px;
}

.mBannerOddsBtn.slt span:nth-child(2) {
	color: #cafffe;
}

.mBannerOddsBtn span:nth-child(3) {
	float: right;
}

.bannerWrap {
	width: 735px;
	height: 110px;
	overflow: hidden;
	margin-bottom: 5px;
}

.center_banner img {
	cursor: pointer;
}

.center_banner div {
	height: 110px;
}

.footerCont img, map area {
	outline: none;
}

.terms {
	background: #dedede;
	padding: 5px 12px 12px 12px;
	-moz-border-radiu: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border-bottom: 1px solid #9f9e9e;
}

.terms h3 {
	font: bold 14px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	color: #4a4949;
	text-align: center;
}

.terms p {
	font: bold 14px/18px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	color: #4a4949;
}

.terms ol, .terms ul {
	padding: 0 0 0 1.7em;
}

.terms li {
	font: bold 12px/18px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	color: #4a4949;
	margin: 15px 0;
}

.terms ul li {
	list-style: square;
}

.terms_wrap {
	background: #bebdbd;
	padding: 15px;
}

.terms_title {
	background-color: #d1d1d1;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1),
		to(#858585));
	background-image: -webkit-linear-gradient(top, #d1d1d1, #858585);
	background-image: -moz-linear-gradient(top, #d1d1d1, #858585);
	background-image: -ms-linear-gradient(top, #d1d1d1, #858585);
	background-image: -o-linear-gradient(top, #d1d1d1, #858585);
	background-image: linear-gradient(to bottom, #d1d1d1, #858585);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#d1d1d1, endColorstr=#858585);
	border: 1px solid #858585;
	height: 28px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	font: bold 14px/28px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	color: #2a2a2a;
	text-shadow: 1px 1px 0px rgba(254, 254, 254, .8);
	padding: 0 0 0 10px;
}

.result {
	margin: 0 0 10px 0;
	box-shadow: 5px 5px 4px rgba(0, 0, 0, .4);
	position: relative;
	/*width: 663px;*//**/
	width : 97%;
	height: 152px;
}

.result img {
	height: 27px;
}

.result.baseball {
	background: url('../img/icons/res_baseball.png') no-repeat center;
	background-size: cover;
}

.result.basketball {
	background: url('../img/icons/res_basketball.png') no-repeat center;
	background-size: cover;
}

.result.icehockey {
	background: url('../img/icons/res_icehockey.png') no-repeat center;
	background-size: cover;
}

.result.soccer {
	background: url('../img/icons/res_soccer.png') no-repeat center;
	background-size: cover;
}

.result.tennis {
	background: url('../img/icons/res_tennis.png') no-repeat center;
	background-size: cover;
}

.result.volleyball {
	background: url('../img/icons/res_volleyball.png') no-repeat center;
	background-size: cover;
}

.result table {
	position: absolute;
	top: 30px;
	/*width: 663px;*//**/
	width: 100%;
	height: 122px;
	text-align: center;
	border-collapse: collapse;
	border: 0;
	table-layout: fixed;
}

.result td {
	width: 86px;
	height: 61px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font: bold 36px helvetica, Geneva, Malgun Gothic, Dotum, sans-serif;
	overflow: hidden;
	padding: 0;
}

.result.baseball td {
	width: 40px;
	font-size: 24px;
}

.result.icehockey td {
	width: 110px;
}

.result.icehockey td:nth-child(5) {
	width: 103px;
}

.result.soccer td {
	/*width: 65px;*//**/
	width: 10.5%;
	font-size: 24px;
}

.result.soccer td:nth-child(2), .result.soccer td:nth-child(3) {
	/*width: 119px;*//**/
	width: 19%;
	font-size: 36px;
}

.result td:first-child {
	/*width: 118px;*//**/
	width: 19%;
	color: #3a3a3a;
	font: 11px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	text-shadow: none;
}

.result td:last-child {
	/*width: 113px;*//**/
	width: 19%;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
	font: bold 36px helvetica, Geneva, Malgun Gothic, Dotum, sans-serif;
}

.result.baseball td:last-child {
	width: 65px;
}

.result td.win {
	color: #df1108;
}

.resultDetail {
	background: #989797;
	/*padding: 27px 0 27px 27px;*//**/
	padding: 27px 0 27px 17px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	border-radius: 0px 0px 4px 4px;
}

.result_top {
	background: #c6c5c6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.result_top.showDetail {
	background: #a5a5a5;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	border-bottom: 1px solid #ddd;
}

.hideResultDetail {
	background: url('../img/icons/hideResDetail.png') no-repeat;
	cursor: pointer;
	border: none;
	width: 24px;
	height: 24px;
	vertical-align: top;
}

.showResultDetail {
	background: url('../img/icons/showResDetail.png') no-repeat;
	cursor: pointer;
	border: none;
	width: 24px;
	height: 24px;
	vertical-align: top;
}

.scrolltop {
	background: url('../img/icons/scrolltop.png') no-repeat;
	background-size: 20px auto;
	cursor: pointer;
	width: 23px;
	height: 38px;
	position: absolute;
	bottom: 40px;
	right: 100px;
}

.right_side_menu .wheelimg {
	background: url('../img/icons/wheel.png') no-repeat;
	width: 37px;
	height: 85px;
	position: absolute;
	z-index: 8;
	top: 300px;
	left: 140px;
	pointer-events: none;
	display: none;
}

.SC-Content {
	width: 741px;
	padding: 0 0 0 6px;
}

.searchResult, .searchLive, .searchPre {
	background: #d4d3d3;
	font: normal 12px Tahoma, Geneva, Malgun Gothic, Dotum, sans-serif;
	color: #2e2e2e;
	/*padding:4px;*/
	border: 2px solid #565656;
	-webkit-border-radius: 4px 4px 0px 0px;
	-moz-border-radius: 4px 4px 0px 0px;
	border-radius: 4px 4px 0px 0px;
	margin: 0 0 16px 0;
}

.searchLive .title, .searchResult .title, .searchPre .title {
	background: #565656;
	padding: 0 0 0 4px;
}

.SC-LCOMatchList {
	padding: 4px 0px 4px 18px
}

.sort2 {
	cursor: pointer;
	border: 1px solid #88bfe5;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	font-family: arial, helvetica, sans-serif;
	text-decoration: none;
	display: inline-block;
	text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
	font-weight: bold;
	color: #FFFFFF;
	background-color: #f62b2b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#23a4dd),
		to(#124d63));
	background-image: -webkit-linear-gradient(top, #23a4dd, #124d63);
	background-image: -moz-linear-gradient(top, #23a4dd, #124d63);
	background-image: -ms-linear-gradient(top, #23a4dd, #124d63);
	background-image: -o-linear-gradient(top, #23a4dd, #124d63);
	background-image: linear-gradient(to bottom, #23a4dd, #124d63);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#23a4dd, endColorstr=#124d63);
	-webkit-transition: all .5s linear;
	-o-transition: all .5s linear;
	-moz-transition: all .5s linear;
	-ms-transition: all .5s linear;
	-kthtml-transition: all .5s linear;
	transition: all .5s linear;
	padding: 0 2px 2px 2px;
}

.sort2:hover {
	border: 1px solid #fff;
	background-color: #e40a0a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#19749c),
		to(#117abe));
	background-image: -webkit-linear-gradient(top, #19749c, #117abe);
	background-image: -moz-linear-gradient(top, #19749c, #117abe);
	background-image: -ms-linear-gradient(top, #19749c, #117abe);
	background-image: -o-linear-gradient(top, #19749c, #117abe);
	background-image: linear-gradient(to bottom, #19749c, #117abe);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#19749c, endColorstr=#117abe);
	cursor: pointer;
}

.sort2.redBold {
	color: #ff9900;
	font-weight: bold;
}


.liveTVContainter {
	z-index:99;
}

.liveTVCont {
	font-family: Tahoma,Geneva,Malgun Gothic,Dotum,sans-serif;
	background:#262626;
	width:381px;
	color:#fff;
	margin:0 auto;
}
#videoCont {
	background: #302f2f;
	width:369px;
	height:279px;
	margin: 0 auto;
	text-align:center;
	line-height:270px;
color:#888;
}
#videoCont video {
	width:369px;
	height:279px;
}
.liveTVCont .betCont {
	text-align:center;
	font: bold 15px/32px 'Open Sans', sans-serif;
	position:relative;
	cursor:pointer;
}
.liveTVCont .betCont .odd {
	display:inline-block;
	width:66px;
	position:relative;
}
.liveTVCont .betCont .odd:first-child, .liveTVCont .betCont .odd:last-child  {
	width:110px;
}
.liveTVCont .betCont .chg {
	position:absolute;
	top:0;
	left:40px;
	width:32px;
	height:32px;
}
.liveTVCont .betCont .chg.up {
	background:url('../img/icons/updownArr.png') no-repeat 0 0;
	animation: chgup 4s ease-in-out infinite;
	opacity:0;
}
.liveTVCont .betCont .chg.dn {
	background:url('../img/icons/updownArr.png') no-repeat 0 -32px;
	animation: chgdn 4s ease-in-out infinite;
	opacity:0;
}
.liveTVCont .betCont .chg.c1 {
	left:10px;
}.liveTVCont .betCont .chg.c2 {
	left:-10px;
}.liveTVCont .betCont .chg.c3 {
	left:10px;
}
@keyframes chgup {
	0% { background-position: 0 32px; opacity:0 }
	15% {background-position: 0 0; opacity:1 }
	85% {background-position: 0 0; opacity:1 }
	100% { background-position: 0 -32px;opacity:0 }
}
@keyframes chgdn {
	0% { background-position: -32px -32px; opacity:0 }
	15% {background-position: -32px 0; opacity:1 }
	85% {background-position: -32px 0; opacity:1 }
	100% { background-position: -32px 32px;opacity:0 }
}


.liveTVCont .betCont.noMatch {
	background:transparent;
	font: bold 18px/30px 'Open Sans', sans-serif;
	color:#747474;
	text-shadow:none;
}

.liveTVCont .btnList{
	background: url('../img/icons/btnVideoList.png') no-repeat 0 -14px;
	height:14px; cursor:pointer;
	background-position:0 -14px;
	position: absolute;
    bottom: -10px;
    width: 100%;
}

.hidden-scrollbar {
	max-height:450px;
	 overflow:hidden;
}

.liveTVCont .matchListCont {
	max-height:450px;
  	overflow:auto;
  	margin:0 -300px 0 0;
  	padding-right:300px; 
}
.liveTVCont .btnList.up{
	background-position:0 0;
}

.liveTVCont .matchTitle {
	cursor:move;
	height:32px;
	position:relative;
	padding-top:1px;
}

.liveTVCont .match {
	position:relative;
	background:#333333;
	margin:0 0 1px 0;
	cursor:pointer;
	width: 381px;
}
.liveTVCont .match.notv {
	cursor:initial;
}
.liveTVCont .match:hover {
	background:#222;
}
.liveTVCont .match.notv:hover {
	cursor:initial;
	background:#333333;
}
.liveTVCont .matchTitle.noMatch {
	position:relative;
	background:transparent;
	text-align:center;
	font: bold 18px/34px 'Open Sans', sans-serif;
	color: #747474; 
	text-shadow:none;
}
.liveTVCont .btnVideo {
	position:absolute;
	top:5px;
	right:8px;
	cursor:pointer;
}
.liveTVCont .match:hover .btnVideo {
	filter:brightness(110%);
}
#btnCloseTV {
	cursor:pointer;
	position:absolute;
	right:8px;
	top:8px;
	opacity:0.25;
}
#btnCloseTV:hover {
	opacity:0.5;
}
.liveTVCont .icon{
	position:absolute;
	left:6px;
	top:6px;
	height:21px;	
}
.liveTVCont .teamInfo {
	position:relative;
	width:312px;
	margin:0 auto;
	font-size:0;
}

.liveTVCont .teamInfo div {
	height:29px;
	font-size:14px;
	display:inline-block;
	text-align:center;
	line-height:29px;
	vertical-align:top;
}

.liveTVCont .teamInfo .teamName {
	width:123px;
	white-space: nowrap;
     overflow: hidden;
     o-text-overflow: ellipsis;
     text-overflow: ellipsis;
     font-weight:bold;
}
.liveTVCont .teamInfo .teamName:first-child {
	text-align:right;
	padding-right:10px;
}.liveTVCont .teamInfo .teamName:last-child {
	text-align:left;
	padding-left:10px;
}
.liveTVCont .match .teamInfo .teamName {
	width:123px;
	white-space: nowrap;
     overflow: hidden;
     o-text-overflow: ellipsis;
     text-overflow: ellipsis;
     font-weight:normal;
     color:#999;
     font: normal 12px/29px 'Dotum', sans-serif;
}

.liveTVCont .teamInfo .score {
	font: bold 16px/29px 'Open Sans', sans-serif;
	width:29px;
	color:#009ed7;
	
}.liveTVCont .teamInfo .score:nth-child(2) {
	text-align:right;
}.liveTVCont .teamInfo .score:nth-child(4) {
	text-align:left;
}
.liveTVCont .teamInfo .column {
	width:8px;
	color:#146d91;
	font: bold 16px/29px 'Open Sans', sans-serif;
}














